{% extends 'base.html' %}


    {% block style %}
    {% endblock %}

    {% block title %}
        Product type list
    {% endblock %}

    {% block content %}
        <br>
        <h2> Product type list</h2>

        <div class="product_list">
            <table class="table">
                <tr>
                    <th>PK</th>
                    <th>Name</th>
                </tr>
                {% for p_type in product_types %}
                    <tr>
                        <td>{{ p_type.pk }}</td>
                        <td>{{ p_type.name }}</td>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <a class="btn btn-success" href="{% url 'shop' %}">Back</a>

        </div>
    {% endblock %}