{% extends 'base.html' %}


    {% block style %}
    {% endblock %}

    {% block title %}
        Delete product type
    {% endblock %}

    {% block content %}
        <br>
        <h2> Delete product type</h2>

        <div class="form_delete">

            <form action="" method="post"> {% csrf_token %}
                <p>
                Are you sure to delete product type: {{ product_type.name }}?
                </p>
                <a class="btn btn-default" href="{% url 'product_type_list' %}">Cancel</a>
                <input class="btn btn-danger" type="submit" value="Delete"/>
            </form>
        </div>

    {% endblock %}