{% extends 'base.html' %}

    {% block title %}
        Delete product
    {% endblock %}


  {% block content %}

<h2>Delete product</h2>

    <div class="form_delete">

        <form action="" method="post"> {% csrf_token %}
        <p>
        Are you sure to delete product: {{ product.name }}?
        </p>
        <a class="btn btn-default" href="{% url 'product_detail' product.pk %}">Cancel</a>
        <input class="btn btn-danger" type="submit" value="Delete"/>
        </form>

    </div>

  {% endblock %}