{% extends 'base.html' %}

  {% block style %}
  {% endblock %}

    {% block title %}
        Product list
    {% endblock %}

  {% block content %}

<h1>Product list</h1>
<div class="product_list">
    <table class="table">
        <tr>
            <th>PK</th>
            <th>Name</th>
            <th>Picture</th>
            <th>Availability</th>
            <th>Price</th>
            <th>Product type</th>
            <th>Category</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.pk }}</td>
                <td><a href="{% url 'shop:product_detail' product.pk %}">{{ product.name }}</a></td>
                <td><img src="{{ product.picture.url }}" width="30"/></td>
                <td>{{ product.availability }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.product_type.name }}</td>
                <td>{{ product.category.name }}</td>
            </tr>
        {% endfor %}
    </table>
    <a class="btn btn-success" href="{% url 'shop:shop' %}">Back</a>
</div>


  {% endblock %}