{% extends 'base.html' %}


    {% block style %}
    {% endblock %}

    {% block title %}
        About
    {% endblock %}

    {% block content %}
        <br>
        <h2> Shop page</h2>

        <div class="product_list">
            <table class="table">
                <tr>
                    <th>PK</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>{{ product.pk }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.category.name }}</td>
                    </tr>
                {% endfor %}
            </table>
            <a class="btn btn-success" href="#">Add product</a>
        </div>
    {% endblock %}